.index-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  font-family: Arial, sans-serif;
}

h1 {
  margin: 0 0 2rem;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  max-width: 500px;
  /* Set a maximum width for the form */
  width: 100%;
  /* Set the form to take up the full width of its container */
}

.form-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-row label {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.text-input {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  flex: 1;
  /* Use flexbox to make the text input expand to fill its container */
}

.submit-button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  width: 100%;
  /* Set the button to take up the full width of its container */
  margin-top: 1rem;
  /* Add a bit of spacing between the button and the text input */
}

.shortened-url {
  margin-top: 2rem;
  text-align: center;
}

.shortened-url p {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.shortened-url a {
  color: #007bff;
  text-decoration: none;
}

.shortened-url a:hover {
  text-decoration: underline;
}

h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.url-list {
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 500px;
  /* Set a maximum width for the URL list */
  width: 100%;
  /* Set the URL list to take up the full width of its container */
}

.url-list li {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.url-list .url-container {
  display: flex;
  flex-direction: column;
}

.url-list .url-title {
  font-weight: bold;
  margin-bottom: 5px;
}

.url-list .url-url {
  font-size: 0.6;
  color: #999;
  margin-bottom: 5px;
}

.url-list .url-click-count {
  font-size: 0.6rem;
  color: #999;
}

.url-list .copy-button {
  padding: 5px;
  border: none;
  background-color: #ddd;
  color: #555;
  cursor: pointer;
  font-size: 14px;
  border-radius: 3px;
}