@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f4f4f5;
  background-image: radial-gradient(
    rgba(136, 136, 137, 0.4) 1.05px,
    #f4f4f5 1.05px
  );
  background-size: 21px 21px;
}

button,
input {
  @apply !outline-none;
}
